/* ESERCIZIO 1*/

.ex-1-square{
    transition: 3s;
}

.ex-1-square:hover{
    background-color: rgb(255, 0, 0);
}

/* ESERCIZIO 2*/

.ex-2-square{
    transition: 3s;
}

.ex-2-square:active{
    width: 100%;
}

/* ESERCIZIO 3*/

.ex-3-square{
    transition: 3s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/* ESERCIZIO 4*/

.ex-4-square{
    transition: 3s;
    opacity: 1;
}

.ex-4-square:hover{
    opacity: 0;
}

/* ESERCIZIO 5*/

.ex-5-square{
    transition: 3s;
}

.ex-5-square:hover{
    transform: scale(1.5);
}

.ex-5-square:active{
    transform: scale(0.5);
}

/* ESERCIZIO 6*/

.ex-6-img:hover{
    filter: grayscale(1);
}

/* ESERCIZIO 7*/

.ex-7-img{
    transition: 3s;
}

.ex-7-img:hover{
    filter: contrast(150%) sepia(80%);
}

/* ESERCIZIO 8*/

.ex-8-img{
    transition: 3s;
}

.ex-8-img:hover{
    filter: saturate(3) blur(1px);
    border-radius: 30px;
}

/* ESERCIZIO 9*/

.ex-9-img{
    transition: 3s;
}

.ex-9-img:hover{
    filter: sepia(60%) saturate(6);
    border-radius: 30px;
    transform: scale(1.2);
}